@import url("https://fonts.googleapis.com/css2?family=Manrope:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 0.15s;
}
//temaplates
$main-color: #ffdb4e;
$border-radius: 0;

$index: calc(1vw + 1vh);
$conversion-factor: 24px;

@function size($px) {
	@return calc($px / $conversion-factor * $index);
}

@mixin main-container() {
	width: 100%;
	padding-right: size(225px);
	padding-left: size(225px);
	@media screen and (max-width: 1050px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin second-container() {
	width: 100%;
	padding-right: size(405px);
	padding-left: size(405px);
	@media screen and (max-width: 1050px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}

@mixin btn($py, $px, $fon, $color) {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: size($py) size($px);
	background: $fon;
	border-radius: $border-radius;
	color: $color;
	font-size: size(13px);
	font-weight: 400;
	word-wrap: break-word;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	@media screen and (max-width: 1050px) {
		font-size: 13px;
		padding: $py $px;
	}
}

@mixin flex-start {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-stretch {
	display: flex;
	align-items: stretch;
}

@mixin flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

@mixin flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

@mixin flex-col-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

@mixin flex-col-stretch {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

@mixin flex-col-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

body {
	position: relative;
	width: 100%;
	@include flex-col-start();
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	overflow-x: hidden;
	&.overflow-hidden {
		overflow: hidden;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

a {
	font-family: inherit;
	color: inherit;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.flex-start {
	@include flex-start();
}

.flex-center {
	@include flex-center();
}
.flex-end {
	@include flex-end();
}

.flex-col-end {
	@include flex-col-end();
}

.flex-col-start {
	@include flex-col-start();
}

.flex-col-stretch {
	@include flex-col-stretch();
}

.flex-col-center {
	@include flex-col-center();
}

.flex-stretch {
	@include flex-stretch;
}

header {
	position: relative;
	@include main-container();
	width: 100vw;
	@include flex-center();
	padding-top: size(22px);
	padding-bottom: size(22px);
	background: white;
	border-bottom: 1px #e4e4e4 solid;
	z-index: 5;
	.flex-center {
		justify-content: flex-start;
		gap: size(38px);
	}
	.logo {
		width: size(107px);
		height: size(23px);
		img {
			min-width: max-content;
		}
	}
	.flex-stretch {
		justify-content: flex-start;
		gap: size(20px);
	}
}
nav {
	@include flex-center();
	justify-content: flex-start;
	gap: size(30px);
	.nav__item {
		position: relative;
		color: #292418;
		font-size: size(14px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
		white-space: nowrap;
		&::after {
			content: " ";
			position: absolute;
			top: size(40px);
			left: 0;
			width: 0;
			height: 0;
			border: 2px $main-color solid;
			opacity: 0;
			transition: all 0.3s;
		}
		&:hover,
		&.active {
			&::after {
				width: 100%;
				border: 2px $main-color solid;
				opacity: 1;
			}
		}
	}
}
.submenu {
	@include main-container();
	position: absolute;
	top: 101%;
	left: 0;
	height: 0;
	@include flex-start();
	justify-content: flex-start;
	gap: size(37px);
	background-color: white;
	overflow: hidden;
	z-index: 3;
	&.active {
		height: max-content;
		padding-top: size(20px);
		padding-bottom: size(34px);
		overflow: visible;
	}
}
.submenu__content {
	@include flex-col-start();
	gap: size(9px);
	.submenu__title {
		color: #292418;
		font-size: size(19px);
		font-family: Manrope;
		font-weight: 600;
		word-wrap: break-word;
	}
	.flex-col-start {
		gap: size(2px);
	}
	.submenu__icon {
		width: size(35px);
		height: size(35px);
	}
	.submenu__item {
		@include flex-center();
		gap: size(11px);
	}
	.submenu__sub {
		color: #292418;
		font-size: size(14px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
		&:hover,
		&.active {
			color: #1f97cb;
		}
	}
}
.add__btn {
	@include btn(4.5px, 15px, $main-color, #292418);
	gap: size(5px);
	&::before {
		content: " ";
		width: size(18.33px);
		height: size(18.33px);
		background-image: url(../assets/icons/circle-x.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}
.login__btn {
	@include btn(4.5px, 15px, #e5dbb3, #292418);
	gap: size(5px);
	&::before {
		content: " ";
		width: size(18.33px);
		height: size(18.33px);
		background-image: url(../assets/icons/profile.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.top {
	@include main-container();
	width: 100vw;
	@include flex-col-start();
	padding-top: size(40px);
	padding-bottom: size(40px);
	background: #f6f8f0;
}
.main-title {
	color: #292418;
	font-size: size(34px);
	font-family: Manrope;
	font-weight: 600;
	word-wrap: break-word;
	margin-bottom: size(9px);
}
.top-text {
	opacity: 0.7;
	color: #292418;
	font-size: size(19px);
	font-family: Manrope;
	font-weight: 400;
	word-wrap: break-word;
	margin-bottom: size(36px);
}
.filter {
	width: 100%;
	@include flex-col-start();
	.flex-stretch {
		width: 100%;
		height: size(62px);
		margin-bottom: size(20px);
	}
}
.filter__nav {
	@include flex-stretch();
	.filter__title {
		padding: size(12px) size(17px);
		background-color: #fbf5d6;
		color: #292418;
		font-size: size(17px);
		font-family: Manrope;
		font-weight: 400;
		line-height: 140%;
		word-wrap: break-word;
		cursor: pointer;
		transition: all 0.3s;
		&.active,
		&:hover {
			font-weight: 600;
			background-color: #fff;
		}
	}
}
.filter__dropdown {
	position: relative;
	min-width: max-content;
	background-color: white;
	border-right: 1px #efefef solid;
	cursor: pointer;
	&.active {
		.dropdown {
			height: max-content;
			padding-top: size(22px);
			padding-bottom: size(22px);
			overflow: visible;
		}
	}
	.filter__dropdown__title {
		height: 100%;
		@include flex-center();
		gap: size(108px);
		padding: size(20px);
		padding-right: size(12px);
	}
	.current {
		color: #292418;
		font-size: size(14px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
	}
}
.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0;
	@include flex-col-start();
	padding: 0 size(20px);
	background: white;
	overflow: hidden;
	.dropdown__item {
		width: 100%;
		@include flex-center();
		justify-content: flex-start;
		gap: size(11px);
		padding-bottom: size(15px);
		label {
			position: relative;
			padding-left: 30px;
			cursor: pointer;
			color: #292418;
			font-size: size(14px);
			font-family: Manrope;
			font-weight: 400;
			word-wrap: break-word;
			cursor: pointer;
		}
		.custom-checkbox {
			display: none;
		}
		label:before {
			content: " ";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: size(14px);
			height: size(14px);
			border: 1px #8f8f8f solid;
			background-color: #fff;
		}
		.custom-checkbox:checked + label:before {
			background-color: #ffdb4e;
			border-color: #ffdb4e;
			content: "✔";
			color: #000;
			font-size: size(14px);
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
.arrow-down {
	width: size(18px);
	height: size(18px);
	object-fit: cover;
}
.filter__search {
	width: 100%;
	position: relative;
	height: 100%;
	input {
		width: 100%;
		height: 100%;
		border: none;
		padding: size(22px);
		background: white;
		color: #94918b;
		font-size: size(14px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
		padding-left: size(52px);
		outline: none;
	}
	.search-icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: size(20px);
		width: size(16px);
		height: size(16px);
	}
}
.filter__btns {
	@include flex-center();
	gap: size(25px);
	align-self: flex-end;
	.map__btn {
		@include btn(9px, 15px, $main-color, #292418);
		gap: size(5px);
		&::before {
			content: " ";
			width: size(22px);
			height: size(22px);
			background-image: url(../assets/icons/map.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	.list__btn {
		@include btn(9px, 15px, #e5dbb3, #292418);
		gap: size(5px);
		&::before {
			content: " ";
			width: size(22px);
			height: size(22px);
			background-image: url(../assets/icons/list.svg);
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

.content {
	@include second-container();
	@include flex-col-start();
	padding-top: size(40px);
	margin-bottom: size(30px);
	.content__title {
		color: #292418;
		font-size: size(27px);
		font-family: Manrope;
		font-weight: 600;
		word-wrap: break-word;
		margin-bottom: size(5px);
	}
	.content__span {
		color: #67635b;
		font-size: size(17px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
		margin-bottom: size(30px);
	}
}
.post {
	width: 100%;
	@include flex-col-start();
	gap: size(7px);
	padding-bottom: size(40px);
	border-bottom: 1px #f2f2f2 solid;
	margin-bottom: size(30px);
	.post__top {
		width: 100%;
		@include flex-center();
		.flex-center {
			gap: size(15px);
		}
	}
	.post__type {
		@include flex-center();
		justify-content: flex-start;
		gap: size(10px);
		img {
			width: size(21px);
			height: size(23px);
		}
		span {
			color: #292418;
			font-size: size(13px);
			font-family: Manrope;
			font-weight: 400;
			word-wrap: break-word;
		}
	}
	.post__profile {
		@include flex-center();
		gap: size(11px);
		img {
			width: size(24px);
			height: size(24px);
		}
		span {
			color: #292418;
			font-size: size(13px);
			font-family: Manrope;
			font-weight: 600;
			word-wrap: break-word;
		}
	}
	.post__phone {
		color: #292418;
		font-size: size(13px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
	}
	.time {
		text-align: right;
		color: #67635b;
		font-size: size(13px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
	}
	.post__title {
		color: #292418;
		font-size: size(21px);
		font-family: Manrope;
		font-weight: 600;
		word-wrap: break-word;
	}
	.post__sub {
		width: 100%;
		color: #292418;
		font-size: size(17px);
		font-family: Manrope;
		font-weight: 400;
		line-height: 25px;
		word-wrap: break-word;
	}
	.post__bottom {
		width: 100%;
		@include flex-center();
		justify-content: flex-start;
		gap: size(20px);
	}
	.post__location {
		@include flex-center();
		gap: size(13px);
		img {
			width: size(24px);
			height: size(24px);
		}
		span {
			color: #1f97cb;
			font-size: size(13px);
			font-family: Manrope;
			font-weight: 400;
			word-wrap: break-word;
		}
	}
	.post__actions__container {
		@include flex-center();
		gap: size(20px);
		img {
			width: size(20px);
			height: size(20px);
			object-fit: contain;
		}
		span {
			color: #94918b;
			font-size: size(13px);
			font-family: Manrope;
			font-weight: 400;
			word-wrap: break-word;
		}
	}
	.post__actions {
		@include flex-center();
		gap: size(6px);
		cursor: pointer;
	}
	.post__img {
		width: max-content;
		height: max-content;
		max-width: 100%;
		max-height: size(318px);
	}
	.post__span {
		color: #292418;
		font-size: size(13px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
	}
	.quote {
		width: 100%;
		text-align: center;
		color: #ffdb4e;
		font-size: size(100px);
		font-family: PT Serif;
		font-weight: 400;
		word-wrap: break-word;
	}
	.post__quote__title {
		width: 100%;
		text-align: center;
		color: #67635b;
		font-size: size(21px);
		font-family: PT Serif;
		font-weight: 700;
		word-wrap: break-word;
	}
	.quote__sub {
		text-align: center;
		color: #67635b;
		font-family: PT Serif;
		font-style: italic;
	}
}

footer {
	@include main-container();
	width: 100vw;
	@include flex-start();
	padding-top: size(41px);
	padding-bottom: size(83px);
	background: #363636;
	.logo {
		color: #ffdb4e;
		font-size: size(60px);
		font-family: Manrope;
		font-weight: 600;
		word-wrap: break-word;
		margin-bottom: 1px;
	}
	.footer__sub {
		width: size(306px);
		color: white;
		font-size: size(34px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
		margin-bottom: size(8px);
	}
	.footer__span {
		color: white;
		font-size: size(12px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
		margin-bottom: size(30px);
	}
}
.footer__nav {
	@include flex-col-start();
	gap: size(10px);
	padding-top: size(30px);
	.footer__nav__title {
		color: white;
		font-size: size(24px);
		font-family: Manrope;
		font-weight: 400;
		word-wrap: break-word;
	}
	.footer__nav__list {
		@include flex-col-start();
		gap: size(2px);
	}
	.footer__nav__item {
		color: white;
		font-size: size(17px);
		font-family: Manrope;
		font-weight: 400;
		line-height: 25px;
		word-wrap: break-word;
	}
}
.footer__left {
	@include flex-col-start();
}
.footer__img {
	width: size(88px);
	height: size(31px);
}
.socmedia {
	@include flex-center();
	gap: size(15px);
	.socmedia__item {
		width: size(24px);
		height: size(24px);
	}
}
.footer__nav__list {
	& > * {
		color: white;
		font-size: size(13px);
		font-family: Manrope;
		font-weight: 400;
		line-height: 130%;
		word-wrap: break-word;
	}
}
.phone {
	@include flex-col-start();
	color: white;
	font-size: size(13px);
	font-family: Manrope;
	font-weight: 400;
	line-height: 20px;
	word-wrap: break-word;
	margin-bottom: size(10px);
}
